.pub {
  width: 80%;

  background-color: rgb(148, 148, 148);

  padding: 0.8em 0.9em 0 0.9em;
  border-radius: 12px;

  height: 38%;
  overflow-y: hidden;
}

.pub__head {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.pub__head__info {
  display: flex;
  justify-content: start;
}

.pub__head__info__pic {
  margin-right: 0.6em;
  --size: 2em;
  width: var(--size);
  height: var(--size);

  border-radius: 100%;

  background-color: rgb(228, 52, 52);
}

.pub__head__data {
  display: flex;
  flex-direction: column;
}

.pub__head__data__status {
  display: flex;
  align-items: center;
  height: fit-content;
  font-weight: 500;
  font-size: 0.8em;
  color: rgb(224, 224, 224);
}

.pub_head__data__status_color {
  --size: 10px;
  margin-left: 6px;

  width: var(--size);
  height: var(--size);
  border-radius: 100%;
}

.pub__head__data__date {
  margin-top: 3px;
  font-size: 0.5em;
  font-weight: bolder;
  color: rgb(109, 109, 109);
  margin-left: auto;
}

.pub__body {
  font-size: 0.8em;
  text-align: justify;
  margin-top: 0.6em;
}

.pub__body__comments_count {
  --height: 1.5em;
  height: var(--height);
  margin-bottom: calc((var(--height) / 2 + 2px));
  background-color: rgb(148, 148, 148);
  border: 0.5px solid white;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 1em;
  font-size: 0.7em;
  padding: 0.3em 0.4em;
  border-radius: 100px;
  width: fit-content;
}

.pub hr {
  margin-top: 1.4em;
  margin-bottom: calc(1.5em / -2 - 2px);
}

.comment_expand {
  --font: 0.6em;
  --padi: 7px;
  margin-top: calc((var(--font) / -2) - (var(--padi) / 2) - 2px);
  font-size: var(--font);
  color: rgb(100, 100, 100);
  background-color: white;
  padding: 3px var(--padi);
  z-index: 1;
  border-radius: 100px;
  cursor: default;
  transition: all 0.5s ease;
}

.comment_expand:hover {
  color: white;
  background-color: rgb(100, 100, 100);
}

.comment_shadow {
  width: calc(80% + 1.8em);

  margin-top: calc(10dvh * -1 - 0.6em + 1px);

  height: 10dvh;

  background-image: linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(66, 66, 66, 0.397)
  );
  border-radius: 0 0 12px 12px;
  z-index: 0;
}
